{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="WeatherApp">
<head>
    <title>My Weather App</title>
    <link rel="stylesheet" href="{% static 'homepage/css/weather.css' %}"/>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script type="text/javascript" src="{% static 'homepage/js/moment-timezone-with-data-2010-2020.min.js' %}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.15/angular-route.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.15/angular-resource.js"></script>
</head>
<body ng-controller="WeatherController">
{% block content %}
{% endblock %}
<div id="attribution">
    Attribution:
    <p>
        Powered by <a href="http://www.google.com">Google</a><br/>
        Powered by <a href="http://www.forecast.io">Forecast</a><br/>
        Powered by <a href="http://www.firebase.com">Firebase</a><br/>
    </p>
    <p>
        Weather Images by <a href="http://vclouds.deviantart.com/art/VClouds-Weather-Icons-179152045">VClouds</a><br/>
        Icons by <a href="http://app-bits.com/">AppBits</a>
    </p>
</div>
<script type="text/javascript" src="{% static 'homepage/js/weather-lib.js' %}"></script>
<script type="text/javascript" src="{% static 'homepage/js/weather-ng.js' %}"></script>
</body>
</html>
