{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>My Weather App</title>
    <link rel="stylesheet" href="{% static 'homepage/css/weather.css' %}"/>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
    <script type="text/javascript" src="//fb.me/react-0.9.0.js"></script>
    <script type="text/javascript" src="//fb.me/JSXTransformer-0.9.0.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.0.3/moment-timezone.min.js"></script>
    <script type="text/javascript" src="{% static 'homepage/js/moment-tz-data.min.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.min.js"></script>
</head>
<body>
<div id="weather-c">
    <div id="my-weather-c">
        <div id="form-c">
            <form class="search-city">
                {% csrf_token %}
                <input id="city_name" type="text" placeholder="Enter a City">
            </form>
        </div>
        <div id="search-c"></div>

        <span id="saved-h">Saved Cities:</span>
        <div id="saved-c">
            {% if  saved_cities %}
                {% for city in saved_cities %}
                    <table>
                        <tr>
                            <td class="name" colspan="3">{{ city.name }}</td>
                            <td class="high">H: {{ city.temp.high }}</td>
                            <td class="remove" rowspan="3">
                                <form class="remove-city" action="" method="POST">
                                    {% csrf_token %}
                                    <input name="key" type="hidden" value="{{ city.key }}">
                                    <input type="image" src="{% static 'homepage/img/minus.png' %}">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td class="time"><span data-tz-offset="{{ city.tz_offset }}"></span></td>
                            <td class="current">{{ city.temp.current }}</td>
                            <td class="icon"><img src="{% static 'homepage/img/'|add:city.temp.icon|add:'.png' %}"></td>
                            <td class="low">L: {{ city.temp.low }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                            <td class="summary">{{ city.temp.summary }}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div id="recent-searches-c">

    </div>
</div>
<div id="attribution">
    Attribution:
    <p>
        Powered by <a href="http://www.google.com">Google</a><br/>
        Powered by <a href="http://www.forecast.io">Forecast</a><br/>
        Powered by <a href="http://www.firebase.com">Firebase</a><br/>
    </p>
    <p>
        Weather Images by <a href="http://vclouds.deviantart.com/art/VClouds-Weather-Icons-179152045">VClouds</a><br/>
        Icons by <a href="http://app-bits.com/">AppBits</a>
    </p>
</div>
<script type="text/jsx" src="{% static 'homepage/js/weather-react.js' %}"></script>
<script type="text/javascript" src="{% static 'homepage/js/weather-lib.js' %}"></script>
<script type="text/javascript" src="{% static 'homepage/js/weather.js' %}"></script>
</body>
</html>
